/* INDEX */
#heros .column {
  margin-top: 2em;
}

#one {
  background-color: red;
}

button, a {
  transition: .2s linear;
}

.bsa {
  padding: 3em;
}

#newsletter {
  margin-top: 2em;
}

.icon-success {
  color: #23d160;
}
.icon-danger {
  color: #ff3860;
}

/* REGISTER */

.hero-body {
  padding-top: 2em;
}

#alert {
  margin-top: 3em;
}

.pb {
  padding-bottom: 0;
}

.hide{
  visibility: hidden;
  opacity: .1 ;
}
.visible {
  visibility: visible;
  opacity: 1;
}
#progress {
  margin-bottom: 1.5em;
}

#notify {
  margin-top: 2em;
}

::-webkit-scrollbar {
  width: .25em;
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
  outline: 1px solid slategrey;
}
.opacity {
  opacity: 0;
}

/* LOGIN */

.opacityShow {
  -webkit-animation: opacity0to1 2s ;
  -moz-animation:    opacity0to1 2s ;
  -o-animation:      opacity0to1 2s ;
  animation:         opacity0to1 2s ;
}

@-webkit-keyframes opacity0to1 {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacity0to1 {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes opacity0to1 {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes opacity0to1 {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.opacityHide {
  -webkit-animation: opacity1to0 2s ;
  -moz-animation:    opacity1to0 2s ;
  -o-animation:      opacity1to0 2s ;
  animation:         opacity1to0 2s ;
}

@-webkit-keyframes opacity1to0 {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacity1to0 {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes opacity1to0 {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes opacity1to0 {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
